    <% include nav %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Don't ever underestimate the heart of a champion!</h1>

                <!-- Author -->
                <p class="lead">
                    declared <a href="https://en.wikipedia.org/wiki/Rudy_Tomjanovich">Rudy Tomjanovich</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> <span id="postDate">Posted on August 24, 2013 at 9:00 PM</span></p>

                <hr>

                <!-- Preview Image -->
                <!-- <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->
                <img class="img-responsive" src="/images/daybreak.jpg" alt="daybreak">

                <hr>

              <% posts.forEach(function(article, index) { %>
              
                  <div class="jumbotron">  
                    <h2><a href="/u/<%= article.username %>/<%= article.date.day %>/<%= article.title %>"><%= article.title %></a></h2>
                  </div>
                  <p>
                  <% if (user && user.username == article.username) { %>
                    <span><a class="edit" href="/edit/<%= article.username %>/<%= article.date.day %>/<%= article.title %>">编辑</a></span>
                    <span><a class="edit" href="/remove/<%= article.username %>/<%= article.date.day %>/<%= article.title %>">删除</a></span>                  
                  <% } %>

                  </p>                  
                  <p>作者：<a href="/u/<%= article.username %>"><%= article.username %></a></p>
                  <p>日期：<%= article.date.minute %></p>
                  <%- article.body %>
                  <br>
                  <hr>

                  <br />
                  <% article.comments.forEach(function (comment, index) { %>
                    <p><a href="<%= comment.website %>"><img class="media-object" src="<%= comment.head %>" alt=""><%= comment.name %></a>
                    <span class="info"> 回复于 <%= comment.time.minute %></span></p>
                    <p><%- comment.content %></p>
                  <% }) %>

                  <!-- Comments Form -->
                  <div class="well">
                      <h4>Leave a Comment:</h4>
                      <!-- 
                      <form role="form" action="/post" method="post">
                          <div class="form-group">
                              <textarea class="form-control" name="comment" rows="3"></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                      -->

                      <form method="post" action="/u/<%= article.username %>/<%= article.date.day %>/<%= article.title %>" role="form">
                      <% if (user) { %>
                        姓名：<input type="text" name="name" value="<%= user.name %>" /><br />
                        邮箱：<input type="text" name="email" value="<%= user.email %>" /><br />
                        网址：<input type="text" name="website" value="/u/<%= user.name %>" /><br />
                      <% } else { %>
                        姓名：<input type="text" name="name" /><br />
                        邮箱：<input type="text" name="email" /><br />
                        网址：<input type="text" name="website" value="http://" /><br />
                      <% } %>
                          <div class="form-group">
                              <textarea class="form-control" name="content" rows="3"></textarea>
                          </div>                      
                        <!-- <textarea name="content" rows="5" cols="80"></textarea><br /> 
                             <button type="submit" class="btn btn-primary">Submit</button>

                        -->
                        <input type="submit" value="留言" />
                      </form>                    
                  </div>

              <% }) %>
                <div class="pagination-centered">
                  <ul class="pagination ">
                  <!--
                      <li><a class="previous disabled" href="javascript:;">Previous</a></li>
                      <li><a href="javascript:;">Next</a></li>
                      -->
  <% if (!isFirstPage) { %>
    <li><a class="previous" href="?page=<%= page - 1 %>">Previous</a></li>
  <% } %>

  <% if (!isLastPage) { %>
    <li><a href="?page=<%= page + 1 %>">Next</a></li>
  <% } %>
                    
                  </ul>
                </div>
                <!-- Post Content 
                <p class="lead"><h3>徘徊,知识与技巧的积累在缓慢的叠加</h3></p>
                
                <p>迟缓的脚步在往前挪动。</p>

                <p>目光被沿途的风景迷惑；</p>

                <p>到底有多远，我才能迎来更美的风景！</p>
                -->
                
                <hr>

                <!-- include comment -->
                <!-- Blog Comments -->                

            </div>

            <% include layout %>

        <hr>

    <% include footer %>        